.app {
  /* text-align: center; */
  color: black;
  font-family: 'Corier New', Courier, monospace;
  h1 {
    font-weight: 500;
  }

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .mainColumn {
    display: block;
    width: 640px;
    height: 100%;
    text-align: center;
  }
}
