.twoColContainer {
  width: 1280px;
  margin-top: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
  height: 100vh;
}

.preview {
  text-align: initial;
  position: sticky;
  height: 100vh;
  top: 100px;
  display: inline-block;
  grid-column: span 1;
  display: flex;
  justify-content: center;
}
.template {
  width: 4in;
  height: 6.0625in;
  line-height: 1.1;
}

/* div {
  display: block;
  unicode-bidi: isolate;
} */

.printable {
  position: relative;
  z-index: 0;
  margin: 0.25in;
  background-color: white;
  -webkit-print-color-adjust: exact;
}

.bleed {
  position: absolute;
  top: -0.1in;
  bottom: -0.1in;
  left: -0.1in;
  right: -0.1in;
  z-index: -2;
  background-color: inherit;
}

.crop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: inherit;

  &:before,
  &:after {
    position: absolute;
    z-index: 0;
    content: '';
    border: solid;
  }
  &:before {
    top: -0.25in;
    bottom: -0.25in;
    left: 0;
    right: 0;
    border-top-width: 0px;
    border-right-width: 1pt;
    border-bottom-width: 0px;
    border-left-width: 1pt;
  }
  &:after {
    top: 0;
    bottom: 0;
    left: -0.25in;
    right: -0.25in;
    border-top-width: 1pt;
    border-right-width: 0px;
    border-bottom-width: 1pt;
    border-left-width: 0px;
  }
}

.fold {
  position: absolute;
  width: 4.5in;
}

.fold1 {
  &:before {
    position: absolute;
    top: 5.0625in;
    bottom: 0in;
    left: -0.25in;
    right: 0.25in;
    z-index: -2;
    content: '';
    border: solid;
    border-width: 1pt 0 0 0;
  }
}

.fold2 {
  &:before {
    position: absolute;
    top: 5.5625in;
    bottom: 0in;
    left: -0.25in;
    right: 0.25in;
    z-index: -2;
    content: '';
    border: solid;
    border-width: 1pt 0 0 0;
  }
}

.fold3 {
  &:before {
    position: absolute;
    top: 2.5in;
    bottom: 0in;
    left: -0.25in;
    right: 0.25in;
    z-index: -2;
    content: '';
    border: solid;
    border-width: 1pt 0 0 0;
  }
}

.boundaries {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.tracklist {
  display: block;
  position: absolute;
  height: 240px;
  width: 4in;
  background-color: rgb(242, 239, 239);
  display: flex;
}

.cover {
  position: absolute;
  height: 246px;
  width: 4in;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  transform: translateY(2.5in);
  background-color: white;
  overflow: hidden;
}
.coverImage {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.title {
  position: absolute;
  height: 48px;
  display: flex;

  align-items: center;

  transform: translateY(5.0625in);
}

.titleContainer {
  display: flex;
  flex-direction: column;
  padding: 3px 5px;
}

.titleText {
  font-family: var(--font-impact);

  text-transform: uppercase;
}

.subTitleText {
  font-family: var(--font-helvetica);
  font-weight: 600;

  @media print {
    font-family: var(--font-helvetica);
  }
}

.flap {
  position: absolute;
  height: 0.5in;
  width: 4in;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  transform: translateY(5.5625in);
}

.flapContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;

  font-size: 10px;
  font-weight: bold;
  @media print {
    font-family: 'Corier New', Courier, monospace;
  }
}

.flapTop {
  padding-top: 5px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  @media print {
    font-family: 'Corier New', Courier, monospace;
  }
}

.flapLeft,
.flapRight {
  width: 50%;
  padding: 0ch 5px;
  border-bottom: 1px dotted currentColor;

  @media print {
    font-family: 'Corier New', Courier, monospace;
  }
}

.flapLeft {
  text-align: left;
  border-right: 1px dotted currentColor;
}

.flapRight {
  text-align: right;
}

.flapBottom {
  font-style: italic;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px 5px;
  text-align: center;
  /* padding-top: 5px; */
}

.trackTable {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  table-layout: fixed;
  background-color: white;
  font-family: 'Courier New', Courier, monospace;
}

.headerContainer {
  font-size: 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  span {
    padding: 5px;
  }
}

.trackTable td {
  border: 1px solid black;
  padding: 0px 6px;
  text-align: left;

  /* white-space: nowrap; */

  overflow: hidden;

  height: 10px; /* Set a consistent row height */
}

.trackTable th {
  height: 12px;
  line-height: 12px;
  /* border: none; */
}

/* .trackTable th:first-child {
  text-align: left;
} */
/* .trackTable th:last-child {
  text-align: right;
} */

.trackTable td:first-child,
.trackTable th:first-child {
  border-top: none;
  border-left: none;
}

.trackTable td:last-child,
.trackTable th:last-child {
  border-top: none;
  border-right: none;
}

.trackTable th {
  text-align: center;
  background-color: #f4f4f4;
  /* font-weight: bold; */
}

.trackTable tr:nth-child(even) {
  background-color: #f9f9f9;
}

.trackTable tr:last-child td {
  border-bottom: none;
}

.trackTable tr {
  /* height: 12px; */
}

.trackTable tr td {
  vertical-align: center;
}

.editor {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding: 20px;
  border: 1px solid black;
  overflow-y: auto;
  height: 100vh;
  padding-bottom: 300px;

  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */

  h3 {
    padding: none;
    border-bottom: 1px solid black;
    margin-block-start: 5px;
    margin-block-end: 5px;
  }
}

.editor::-webkit-scrollbar {
  display: none; /* Hide scrollbar in WebKit browsers */
}

.imageControls {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.fileInputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px; /* Space between button and file name */
}

.fileLabel {
  background-color: black;
  color: white;
  padding: 5px 5px;
  border-radius: 4px;
  width: 150px;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
  display: inline-block;
  transition: background-color 0.2s ease-in-out;
}

.hiddenFileInput {
  display: none;
}

.fileName {
  font-size: 12px;
  color: #333;
  text-align: center;
}

.range {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 5px;
}

.colorPickers {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 15px;
}

.pickerContainer {
  grid-column: span 1;
  height: 20px;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}

.twoColGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  row-gap: 10px;
}

.sizePicker {
  grid-column: span 1;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  input {
    width: 50px;
  }
}

h5 {
  grid-column: span 2;
  margin-block-end: 0;
  width: 25%;
  padding-bottom: 3px;
  border-bottom: 1px dotted black;
  /* margin-block-start: 0; */
}

.colorPickers input[type='color'] {
  width: 50px;
  height: 30px;
  border: none;
  cursor: pointer;
}

.inputs {
  width: 100%;
}

.titleInput {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  font-family: 'Courier New', Courier, monospace;
  border: 1px solid #ccc;
}

.textArea {
  width: 100%;
  height: 100px;
  min-height: 100px;

  padding: 10px;
  font-size: 14px;
  font-family: 'Courier New', Courier, monospace;
  border: 1px solid #ccc;
  resize: none;
}

.twoColFlapInputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}

.backFlapInputs {
  display: flex;
  flex-direction: column;
  gap: 20px;

  /* div {
    display: flex;
    flex-direction: column;
    gap: 5px;
  } */

  label {
    font-size: 14px;
    font-weight: bold;
  }
}

.inputAndLabelContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

label {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

button {
  padding: 10px;
  width: 25%;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
}

@media print {
  /* @page: first{
    margin-top: 0;
  }; */
  @page {
    margin: 20mm;
  }

  .printable {
  }
}
